
# C extensions
*.so
*.cookie

build/
storage/
code_blocks/*/logger/
code_blocks/build_brotli/*
code_blocks/check_logger/*
code_blocks/*/obj/
code_blocks/*/*.dll
code_blocks/*/*.depend
code_blocks/*/*.layout
code_blocks/*/*.exe
code_blocks/*/gmon.out
code_blocks/*/auth.json
code_blocks/*/bin/
extensions/other/*
extensions/olymp-trade/*
bin/*.dll
*.pdn
*.gch
*.save-failed